    <footer class="fixed-bottom footer-quote">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Writing, to me, is simply thinking through my fingers.</p>
            <footer class="blockquote-footer">Isaac Asimov, the Author of <cite title="Source Title">"I, Robot"</cite></footer>
          </blockquote>
    </footer>
</body>
</html>